
.App {
  margin:0px;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 3px;
  background-color:rgba(var(--b3f,250,250,250),1)
}

Nav {
  font-size: 28px;
}

.homeDiv {
  position: relative;
  animation: mymove 2s;
  animation-fill-mode: forwards;
  padding-top: 70px;
}

@keyframes mymove {
  from {top:-20px;}
  to {top: 0px;}
}

@media screen and (max-width: 1200px) {
  div.example {
    display: none;
  }
}

/* .contactDiv {
  background-image: url("./img/bgContact.jpg");
  text-align: justify;
} */

.contactDiv h1{
  font-size: 100px;
  color: whitesmoke;
  text-decoration: underline;
  text-shadow: 5px 5px #111111;
}

.ratingDiv {
  background-image: url("./img/bgTestimonials.jpg");
  opacity: 0.3;
}

.userHomeDiv {
  background-image: url("./img/background.jpg");
}


/* By Default , Remove it if no use */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
